@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
/*Web page background*/
    --bg-color:#D6EFD8;

/*Web page accent*/
    --accent:#1A5319;

/*Font family*/
    --fontfam:"Nunito", sans-serif;

/*Font weight*/
    --deffontwght: 400 ;
    
/*Font size - phones*/
    --phofntsize : 4vw ;

/*Font size - laptop*/
    --lapfntsize: 1.15vw;

}

::-webkit-scrollbar{display: none;}

body{
    background-color: var(--bg-color);
    color: var(--accent);
    font-weight: var(--deffontwght);
    font-family: var(--fontfam);
    margin-right: 3vw;
    margin-left: 0vw;
    margin-top: 5vh;
    user-select: none;
    margin-bottom: 9vh;
}

label, input{
    display: block;
    font-size: var(--lapfntsize);
    font-family: var(--fontfam);
}

form{
    display: flex;
    flex-direction: row;
    gap: 3vh;
    max-width: 90vw;
    flex-wrap: wrap;
    max-height: 15vh;
    justify-content:space-between;
    justify-content: center;
}

.form-container{
    position: absolute;
    right: 0;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}


input{
    background-color: transparent;
    border: 1.5px solid #1A5319;
    border-radius: 3vw;
    padding: 1.5vh 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: var(--fontfam);
    color: var(--accen);
    width: 72vw;
    font-size: var(--phofntsize);
}


input::placeholder{
    color: #80AF81;
}

img{
    height:auto;
    width: 60vw;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc{
    font-size: 1.2vw;
    max-width: 75vw;
    text-align: justify;
    color: black;
    margin-top: 3vh;
}

label{
    font-weight: 700;
    font-size: var(--phofntsize);
}

h1{
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    font-size: 6vw;
    padding-bottom: 3vh;
}

button{
    background-color: transparent;
    border: 1px solid #1A5319;
    padding: 1.8vh 7vw;
    font-family: var(--fontfam);
    font-weight: 700;
    border-radius: 3vw;
    font-size: 4vw;
    color: var(--accent);
    display: block;
    margin-bottom: 3vh;
}


p{
    display: block;
}

button:hover{
    background-color: #1A5319;
    color: var(--bg-color);
}

.price-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 85vh;
    /* border: 1.8px solid #1A5319; */
    padding: 4vh 4vw;
    border-radius: 1vw;
    margin-bottom: 15vh;
    padding-bottom: 7vh ;
}

h2{
    font-size: 5vw;
}

.price{
    font-size: 6vw;
}


@media screen and (min-width: 1080px){
    body{
        margin-right: 3vw;
        margin-left: 3vw;
        margin-top: 7.5vh;
        margin-bottom: 9vh;
    }
    
    label, input{
        font-size: var(--lapfntsize);
    }
    
    form{
        gap: 5vh;
        max-width: 90vw;
        max-height: 15vh;
        flex-direction: row;
    }
    
    .form-container{
        right: 0;
        margin-right: 4.8vw;
        flex-direction:column;
    }
    
    
    input{
        border: 1.5px solid #1A5319;
        border-radius: 1vh;
        padding: 1.5vh 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 18vw;
    }
    
    
    img{
        height: 45vh;
        width: auto;
    }
    
    .logo-container{
        flex-direction: column;
    }
    
    .desc{
        font-size: 1.2vw;
        max-width: 60vw;
        color: black;
    }
    
    label{
        font-weight: 700;
    }
    
    h1{
        font-weight: 900;
        font-size: 3vw;
        padding-bottom: 3vh;
    }
    
    button{
        border: 1px solid #1A5319;
        padding: 2vh 1.5vw;
        font-weight: 700;
        border-radius: 1vw;
        font-size: 1.15vw;
        margin-bottom: 5vh;
    }
    
    .price-container{
        flex-direction: column;
        top: 19vh;
        /* border: 1.8px solid #1A5319; */
        padding: 4vh 4vw;
        border-radius: 1vw;
        margin-bottom: 15vh;
        padding-bottom: 11vh ;
    }
    
    h2{
        font-size: 1.8vw;
    }
    
    .price{
        font-size: 1.8vw;
    }
    
}